{% include "_header.twig" %}
<div class="pagemenu pagemenu--desktop" id="desktop-menu">
	<div class="logo">
		<a href="/">
			<img src="/img/logo_weiss.svg" alt="Horizont Logo" />
		</a>
	</div>
	{{ craft.olivemenus.getMenuHTML('main') }}
</div>
<div class="pagemenu pagemenu--mobile" id="mobile-menu">
	<div class="logo">
		<a href="/">
			<img src="/img/logo_weiss_schriftzug.svg" alt="Horizont Logo" />
		</a>
	</div>
	<a class="menu-opener" onclick="toggleMobileMenu()">
		<i class="icon-menu"></i>
	</a>
	<a class="menu-closer" onclick="toggleMobileMenu()">
		<i class="icon-close"></i>
	</a>
	<div class="menu-popup">
		{{ craft.olivemenus.getMenuHTML('main') }}
	</div>
</div>
<div class="pagecontent">
	{% if entry.pageContents | length %}
		{% for block in entry.pageContents.all() %}
			{% if block.type == 'pageBlock' and block.html %}
				<div class="pageblock pageblock--{{block.blockStyle}}">
					{% if block.kontur %}
						<div class="pageblock__kontur">
							{% include 'kontur.svg.twig' %}
						</div>
					{% endif %}
					<div class="pageblock__content ck-content">
						{{ block.html|raw }}
					</div>
				</div>
			{% endif %}
			{% if block.type == 'htmlBlock' and block.code %}
				{{ block.code|raw }}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% include "_footer.twig" %}
