{% include "_header.twig" %}
{% include "menu.twig" %}

<div class="pagecontent">
	{% if entry.pageContents | length %}
		{% for block in entry.pageContents.all() %}
			{% if block.type == 'pageContentBlock' and block.html %}
				<div class="block contentblock block--{{ block.id }} block--{{block.blockStyle}} {{ block.kontur ? 'contentblock--with-kontur' }}">
					{% if block.kontur %}
						<div class="contentblock__kontur">
							{% if block.konturDesign == 'kontur2' %}
								{% include 'kontur2.svg.twig' %}
							{% else %}
								{% include 'kontur1.svg.twig' %}
							{% endif %}
						</div>
					{% endif %}
					<div
							class="contentblock__content ck-content"
							style="{{ block.paddingTop ? 'padding-top:' ~ block.paddingTop ~ ';' : '' }}{{ block.paddingBottom ? 'padding-bottom:' ~ block.paddingBottom ~ ';' : '' }}"
					>
						{{ block.html|raw }}
					</div>
				</div>
			{% endif %}
			{% if block.type == 'pageCodeBlock' and block.code %}
				{{ block.code|raw }}
			{% endif %}
			{% if block.type == 'bandBlock' %}
				{% if block.bandlist | length %}
					<div
							class="block bandblock block--{{block.blockStyle}}"
							style="{{ block.paddingTop ? 'padding-top:' ~ block.paddingTop ~ ';' : '' }}{{ block.paddingBottom ? 'padding-bottom:' ~ block.paddingBottom ~ ';' : '' }}"
					>
						{% for band in block.bandlist.all() %}
							{% include 'band/band-block.twig' %}
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'programmBlock' %}
				{% if block.programmlist | length %}
					<div
							class="block programmblock block--{{block.blockStyle}}"
							style="{{ block.paddingTop ? 'padding-top:' ~ block.paddingTop ~ ';' : '' }}{{ block.paddingBottom ? 'padding-bottom:' ~ block.paddingBottom ~ ';' : '' }}"
					>
						{% for programm in block.programmlist.all() %}
							{% include 'programm/programm-block.twig' %}
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'ticketBlock' %}
				{% if block.ticketlist | length %}
					<div class="block ticketblock">
						{% for ticket in block.ticketlist.all() %}
							{% include 'ticket/ticket-block.twig' %}
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'peopleBlock' %}
				{% if block.people | length %}
					<div class="cardblock">
						{% for person in block.people.all() %}
							{% include 'person.twig' with person %}
						{% endfor %}
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'faqBlock' %}
				{% if block.faqList | length %}
					<div class="block faqblock">
						<div class="faqblock__content">
							{% for faq in block.faqList.all() %}
								{% include 'faq.twig' with faq %}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'partnerBlock' %}
				{% if block.partnerList | length %}
					<div class="block partnerblock">
						<div class="partnerblock__content">
							<div class="partnerblock__title">
								<h2>{{ block.title }}</h2>
							</div>
							<div class="partnerblock__list">
								{% for partner in block.partnerList.all() %}
									{% include 'partner.twig' with partner %}
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
			{% if block.type == 'nextUpBlock' %}
				{% include 'page/nextup-block.twig' with block %}
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

{% include "_footer.twig" %}
